<form method="POST">
  <label for="input-name">Name</label>
  <input id="input-name" type="text" placeholder="name" name="name">
  
  <label for="input-password">Password</label>
  <input id="input-password" type="password" placeholder="Password" name="password">

  <button>Sign Up</button>
</form>

{{#if error}}
  <p>There was an error signing up</p>
{{/if}}